requirements.md

# build
build/

./code
cmake-build-debug

# CLion
.idea/**

# testcases
testcase/**

# download files
bonus.md
README.md
业务要求.md
标准要求.md

# storage files

# additional file
2967.cpp