requirements.md

# build
build/

./code
cmake-build-debug

# CLion
.idea/**

# testcases
testcases/**

# download files
Bonus.md
README.md
业务要求.md
标准要求.md
tests.md
tests.pdf

# storage files

# additional file
run_tests.sh
book_data_author
book_data_isbn
book_data_keyword
book_data_name
2967.cpp
run_tests
frontend/**
